{% extends 'base.html' %}

{% block title %}
Анкета
{% endblock %}

{% block body %}

<div class = 'container'>

    <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <h2> Профиль</h2>

  </div>

    </div>
    <div class="col-md-8 order-md-1 mx-auto">
      <h4 class="mb-3"> Заполните информацию о себе </h4>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName"> Имя </label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName"> Фамилия </label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="firstName"> Возраст </label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="state">Пол</label>
            <select class="custom-select d-block w-100" id="state" required="">
              <option value="">Choose...</option>
              <option>Муж.</option>
              <option>Жен.</option>
              <option>Другое...</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="firstName"> Username </label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
        </div>

        <hr class="mb-4">
        <h4 class="mb-3"> Выберите тему, интересную для вас </h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="1">
          <label class="form-check-label" for="flexRadioDefault1">Музыка</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="2">
          <label class="form-check-label" for="flexRadioDefault1">Технологии</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="3">
          <label class="form-check-label" for="flexRadioDefault1">Спорт</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="4">
          <label class="form-check-label" for="flexRadioDefault1">Наука</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="5">
          <label class="form-check-label" for="flexRadioDefault1">Искусство</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="6">
          <label class="form-check-label" for="flexRadioDefault1">Экология</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="7">
          <label class="form-check-label" for="flexRadioDefault1">Политика</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="8">
          <label class="form-check-label" for="flexRadioDefault1">Экономика</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="9">
          <label class="form-check-label" for="flexRadioDefault1">Программирование</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="10">
          <label class="form-check-label" for="flexRadioDefault1">Ни одна из тем</label>
        </div>
        <hr class="mb-4">

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit"> <a type='button' class="p-2 text-light" href="/ty"> Отправить ответ</a> </button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© </p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/privacy">Политика приватности</a></li>
    </ul>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="form-validation.js"></script>

</body>

{% endblock %}