{% extends 'base.html' %}

{% block title %}
Анкета
{% endblock %}

{% block body %}

<div class = 'container'>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <h2> Напишите свой пост </h2>
                <form method="post">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Введите ваш username"><br>
                    <textarea name="text" id="text" class="form-control" placeholder="Напишите пост здесь"></textarea><br>
                    <hr class="mb-4">
                    <select class="custom-select d-block w-100 my-3" name = 'topic' id="topic" required="">
                      <option value="">Выберите категорию поста...</option>
                      <option value="1"> Музыка</option>
                      <option value="2">Технологии</option>
                      <option value="3">Спорт</option>
                      <option value="4">Наука</option>
                      <option value="5">Искусство</option>
                      <option value="6">Экология</option>
                      <option value="7">Политика</option>
                      <option value="8">Экономика</option>
                      <option value="9">Программирование</option>
                      <option value="10">Ни одна из тем</option>
                    </select>

                    <button class="btn btn-primary btn-lg btn-block g-lg-3" type="submit" value = 'submit'> <a> Отправить ответ</a> </button>

                </form>
            </div>
        </div>
    </body>
</div>

{% endblock %}