{% extends 'base.html' %}

{% block title %}
Ваши посты
{% endblock %}

{% block body %}

<div class = 'container'>

    <body class="bg-light">
        <div class="container">

            {% for el in posts %}
            <div class="alert alert-info">
                <a>{{ el.author_username }}</a>
                <h2>{{ el.text }}</h2>
                <p><b> Дата создания поста: {{ el.date.date() }}</b></p>
{#                <a href="/posts/{{ el.id }}" class="btn btn-warning"> Детальнее </a>#}
            </div>
            {% endfor %}
        </div>
    </body>
</div>

{% endblock %}