{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div class="py-5 text-center">
    <h2> Зачем этот сайт </h2>
    <div class="container">
    <h3><p class="lead"> Вообще я делал домашку по проге и она была про базы данных на сайтах и фласк и все такое, но мне стало скучно и вместо этого я сделал сайт на котором люди могут публиковать посты о себе и смотреть их во вкладке посты, скорее всего я получу ноль за домашку, но это полезнее и прикольнее как мне кажется(:  </p></h3>
    <h4><p class="lead"> Нажав на кнопочку написать пост вы можете рассказать какую то историю о себе! </p></h4>
    <h4><p class="lead"> Во вкладке посты отобразится имя автора дата поста и краткое интро к посту!!! </p></h4>
    <h4><p class="lead"> В дальнейшем хочу еще дорбавить функционал редактирования статей, и научится идентифицировать пользователей</p></h4>
    </div>
    <p class="mb-1">© 2020 ФиКЛ продакшн</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/privacy">Политика приватности</a></li>
    </ul>
  </footer>
</div>
{% endblock %}
