{% extends 'base.html' %}

{% block title %}
Приватность
{% endblock %}

{% block body %}

<div class = 'container'>
    <h1> Политика приватности </h1>
    <h1>Тут кароче сделаю всякие правила чтоб официознее выглядело</h1>
      <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2020 ФиКЛ продакшн</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Политика приватности</a></li>
    </ul>
  </footer>
</div>
{% endblock %}