{% extends 'base.html' %}

{% block title %}
Спасибки вам!!!
{% endblock %}

{% block body %}

<div class = 'container'>
    <h1> Спасибо за вашу историю!!! </h1>
    <h3> Теперь ваш пост висит на вкладке посты, скорее нажмите туда и посмотрите на него!!! </h3>
      <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2020 ФиКЛ продакшн</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Политика приватности</a></li>
    </ul>
  </footer>
</div>
{% endblock %}